
#title {
    text-align: center;
    font-weight: bold;
    margin: auto;
  }
  
  #tenang-aja {
    text-align: center;
    margin: auto;
    font-weight: 400;
  }
  
  .rounded-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-right: 50px;
  }
  
  
  
  .btn-cta {
    border: 1px black solid;
    border-radius: 20px;
    background: none;
  }
  
  /* button submit */
  .btn {
    margin-left: 9px;
    margin-right: 0px;
    margin-top: 30px;
  }
  
  .btn-default {
    width: 200px;
    padding: 15px 20px;
    font-family: Raleway-SemiBold;
    font-size: 15px;
    line-height: 15px;
    border-radius: 10px;
    border: 0;
    color: white;
    background: #F77E7E;
    transition: all 0.3s ease 0s;
  }
  
  /* buletan */
  .bg-shape {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: inline-block;
    }
    
    .bg-shape:after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      background: #F7E9A0;
      border-radius: 50%;
      top: 0;
      right: 0;
      z-index: -1;
      top: -60%; /* change value as required */
      right: -20%; /* change value as required */
    }